body{
    background-color: black;
    color: white;
}
.container{
    border: solid grey 3px;
    height: 350px;
    width: 550px;
    display: inline-flex;
    justify-content: center;
    padding: 40px;
    
}

h1{
    position: relative;

}