

.container{
    border: solid white 3px;
    border-radius: 30px;
    display: inline-flex;
    justify-content:center;
    padding: 35px;
   
}

@import url('https://fonts.googleapis.com/css2?family=Yomogi&display=swap');

body{
    font-family: 'Yomogi', cursive;
}