.container{
    border: solid white 3px;
    border-radius: 30px;
    height: 150px;
    display: inline-flex;
    justify-content:center;
    padding: 35px;
    
}

h1{
    position: relative;
    
}